- var datalink = "http://data.baltimoresun.com/jin/p2p/task-force-org/"

style
	include ../dist/css/style.css

.container#task-force-org
	ul
		li.first
			.profile
				img(src=datalink + "images/officer-jenkins.jpg")
				.details
					p.name Wayne Jenkins
					p Description
					a(href="") Link out to article
			ul
				li
					.profile
						img(src=datalink + "images/officer-gando.jpg")
						.details
							p.name Momodu Gando
							p Description
							a(href="") Link out to article
				li
					.profile
						img(src=datalink + "images/officer-ward.jpg")
						.details
							p.name Maurice Ward
							p Description
							a(href="") Link out to article
		li
			.profile
				img(src=datalink + "images/officer-taylor.jpg")
				.details
					p.name Marcus Taylor
					p Description
					a(href="") Link out to article
			ul
				li
					.profile
						img(src=datalink + "images/officer-rayam.jpg")
						.details
							p.name Jemell Rayam
							p Description
							a(href="") Link out to article
				li
					.profile
						img(src=datalink + "images/officer-hendrix.jpg")
						.details
							p.name Evodio Hendrix
							p Description
							a(href="") Link out to article
		li
			.profile
				img(src=datalink + "images/officer-hersl.jpg")
				.details
					p.name Daniel Hersl
					p Description
					a(href="") Link out to article
			ul
				li
					.profile
						img(src=datalink + "images/officer-allers.jpg")
						.details
							p.name Thomas Allers
							p Description
							a(href="") Link out to article
				li
					.profile
						//- img(src=datalink + "images/officer-clewell.jpg")
						img(src="http://via.placeholder.com/200x270")
						.details
							p.name John Clewell
							p Description
							a(href="") Link out to article